In [67]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Importing CSV files from Kaggle

In [68]:
import os
os.getcwd()

'/Users/ellawileman/Documents/spring2025/data mining/data_mining_course_project'

In [69]:
regular_results = pd.read_csv("MRegularSeasonDetailedResults.csv")
tourney_results = pd.read_csv("MNCAATourneyDetailedResults.csv")
seeds = pd.read_csv("MNCAATourneySeeds.csv")
teams = pd.read_csv("MTeams.csv")

In [70]:
# Ensuring earliest year in datasets is 2003 (Consistent with Pomeroy Rankings)
print(min(regular_results["Season"].value_counts().index))
print(min(tourney_results["Season"].value_counts().index))
seeds = seeds.loc[seeds["Season"] >= 2003]
print(min(seeds["Season"].value_counts().index))

2003
2003
2003

For visualization purposes: can see how a team performs over the course of its regular season and its tournament for each season.

In [71]:
# let's take one random team and see its journey during the 2024 season
season = 2024
teamid = 1104

# showing regular season going into the tournament and tournament data for the year
r = regular_results.loc[
    (regular_results["Season"] == season)
    & ((regular_results["WTeamID"] == teamid) | (regular_results["LTeamID"] == teamid))
]
t = tourney_results.loc[
    (tourney_results["Season"] == season)
    & ((tourney_results["WTeamID"] == teamid) | (tourney_results["LTeamID"] == teamid))
]
r["win"] = np.where(r["WTeamID"] == teamid, "win", "lose")
t["win"] = np.where(t["WTeamID"] == teamid, "win", "lose")
r["type"] = "regular season"
t["type"] = "tournament"

rt = pd.concat([r, t])
rt[["DayNum", "WScore", "LScore", "type", "win"]]

/var/folders/yz/btvl331d4g54624wdzgx_2hc0000gn/T/ipykernel_98922/632077965.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r["win"] = np.where(r["WTeamID"] == teamid, "win", "lose")
/var/folders/yz/btvl331d4g54624wdzgx_2hc0000gn/T/ipykernel_98922/632077965.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t["win"] = np.where(t["WTeamID"] == teamid, "win", "lose")
/var/folders/yz/btvl331d4g54624wdzgx_2hc0000gn/T/ipykernel_98922/632077965.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r["type"] = "regular season"
/var/folders/yz/btvl331d4g54624wdzgx_2hc0000gn/T/ipykernel_98922/632077965.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t["type"] = "tournament"

        DayNum  WScore  LScore            type   win
107636       0     105      73  regular season   win
107805       4     102      80  regular season   win
107979       8     102      46  regular season   win
108100      11      98      67  regular season   win
108506      18      92      81  regular season  lose
108528      19      99      91  regular season   win
108655      22      85      77  regular season  lose
108930      28      89      65  regular season   win
109117      33      92      86  regular season  lose
109262      40      85      82  regular season  lose
109428      44      87      74  regular season  lose
109583      47     111      67  regular season   win
109671      54     101      56  regular season   win
109921      61      78      75  regular season   win
110097      64      74      47  regular season   win
110252      68      82      74  regular season   win
110429      71      93      75  regular season   win
110689      75      91      71  regular season  lose
110785      79      79      75  regular season   win
110900      82     109      88  regular season   win
111115      86      85      76  regular season   win
111239      89      99      67  regular season   win
111455      93      99      81  regular season  lose
111572      96     109      92  regular season   win
111901     103     100      75  regular season   win
112110     107      98      93  regular season   win
112289     110     117      95  regular season  lose
112446     114     103      88  regular season   win
112679     117      81      74  regular season  lose
112772     120     105      87  regular season  lose
112916     124      92      88  regular season   win
113184     130     102      88  regular season  lose
1335       137     109      96      tournament   win
1359       139      72      61      tournament   win
1367       143      89      87      tournament   win
1375       145      89      82      tournament   win
1379       152      86      72      tournament  lose

In [72]:
# Looking into format of "seeds" table 
seeds.reset_index(drop=True, inplace=True)
s = seeds.loc[seeds["Season"] == 2003]
[s.loc[s["Seed"].str.startswith(d)] for d in ("X", "Y", "Z", "W")]
# Note that X, Y, Z, W are the divisions and each will have its own seed.

[    Season  Seed  TeamID
 16    2003   X01    1400
 17    2003   X02    1196
 18    2003   X03    1462
 19    2003   X04    1390
 20    2003   X05    1163
 21    2003   X06    1268
 22    2003   X07    1277
 23    2003   X08    1261
 24    2003   X09    1345
 25    2003   X10    1160
 26    2003   X11    1423
 27    2003   X12    1140
 28    2003   X13    1360
 29    2003   X14    1407
 30    2003   X15    1358
 31    2003  X16a    1411
 32    2003  X16b    1421,
     Season Seed  TeamID
 33    2003  Y01    1246
 34    2003  Y02    1338
 35    2003  Y03    1266
 36    2003  Y04    1173
 37    2003  Y05    1458
 38    2003  Y06    1281
 39    2003  Y07    1231
 40    2003  Y08    1332
 41    2003  Y09    1428
 42    2003  Y10    1104
 43    2003  Y11    1356
 44    2003  Y12    1451
 45    2003  Y13    1409
 46    2003  Y14    1221
 47    2003  Y15    1447
 48    2003  Y16    1237,
     Season Seed  TeamID
 49    2003  Z01    1112
 50    2003  Z02    1242
 51    2003  Z03    1181
 52    2003  Z04    1228
 53    2003  Z05    1323
 54    2003  Z06    1166
 55    2003  Z07    1272
 56    2003  Z08    1153
 57    2003  Z09    1211
 58    2003  Z10    1113
 59    2003  Z11    1141
 60    2003  Z12    1454
 61    2003  Z13    1443
 62    2003  Z14    1161
 63    2003  Z15    1429
 64    2003  Z16    1436,
     Season Seed  TeamID
 0     2003  W01    1328
 1     2003  W02    1448
 2     2003  W03    1393
 3     2003  W04    1257
 4     2003  W05    1280
 5     2003  W06    1329
 6     2003  W07    1386
 7     2003  W08    1143
 8     2003  W09    1301
 9     2003  W10    1120
 10    2003  W11    1335
 11    2003  W12    1139
 12    2003  W13    1122
 13    2003  W14    1264
 14    2003  W15    1190
 15    2003  W16    1354]

# Double the dataset with swapped team positions in box scores
- Avoid bias from putting team in T1 position (on left vs. right)
- Help model generalize rather than learn teams specific position

In [73]:
# double the dataset with swapped team positions in box scores
def prepare_data(df):
    df = df[["Season", "DayNum", "LTeamID", "LScore", "WTeamID", "WScore", "NumOT",
            "LFGM", "LFGA", "LFGM3", "LFGA3", "LFTM", "LFTA", "LOR", "LDR", "LAst", "LTO", "LStl", "LBlk", "LPF",
            "WFGM", "WFGA", "WFGM3", "WFGA3", "WFTM", "WFTA", "WOR", "WDR", "WAst", "WTO", "WStl", "WBlk", "WPF"]]
    

    # adjustment factor for overtimes, as more stats are accumulated during overtimes
    adjot = (40 + 5 * df["NumOT"]) / 40
    adjcols = ["LScore", "WScore", 
               "LFGM", "LFGA", "LFGM3", "LFGA3", "LFTM", "LFTA", "LOR", "LDR", "LAst", "LTO", "LStl", "LBlk", "LPF",
               "WFGM", "WFGA", "WFGM3", "WFGA3", "WFTM", "WFTA", "WOR", "WDR", "WAst", "WTO", "WStl", "WBlk", "WPF"]
    for col in adjcols:
        df[col] = df[col] / adjot    
    
    dfswap = df.copy()
    df.columns = [x.replace("W", "T1_").replace("L", "T2_") for x in list(df.columns)]
    dfswap.columns = [x.replace("L", "T1_").replace("W", "T2_") for x in list(dfswap.columns)]
    output = pd.concat([df, dfswap]).reset_index(drop=True)
    output["PointDiff"] = output["T1_Score"] - output["T2_Score"]
    output["win"] = (output["PointDiff"] > 0) * 1
    # output["men_women"] = (output["T1_TeamID"].apply(lambda t: str(t).startswith("1"))) * 1  # 0: women, 1: men
    return output

regular_data = prepare_data(regular_results)
tourney_data = prepare_data(tourney_results)

/var/folders/yz/btvl331d4g54624wdzgx_2hc0000gn/T/ipykernel_98922/2142236340.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col] / adjot
/var/folders/yz/btvl331d4g54624wdzgx_2hc0000gn/T/ipykernel_98922/2142236340.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col] / adjot

In [74]:
display(regular_data.head())

,Season,DayNum,T2_TeamID,T2_Score,T1_TeamID,T1_Score,NumOT,T2_FGM,T2_FGA,T2_FGM3,...,T1_FTA,T1_OR,T1_DR,T1_Ast,T1_TO,T1_Stl,T1_Blk,T1_PF,PointDiff,win
0,2003,10,1328,62.0,1104,68.0,0,22.0,53.0,2.0,...,18.0,14.0,24.0,13.0,23.0,7.0,1.0,22.0,6.0,1
1,2003,10,1393,63.0,1272,70.0,0,24.0,67.0,6.0,...,19.0,15.0,28.0,16.0,13.0,4.0,4.0,18.0,7.0,1
2,2003,11,1437,61.0,1266,73.0,0,22.0,73.0,3.0,...,29.0,17.0,26.0,15.0,10.0,5.0,2.0,25.0,12.0,1
3,2003,11,1457,50.0,1296,56.0,0,18.0,49.0,6.0,...,31.0,6.0,19.0,11.0,12.0,14.0,2.0,18.0,6.0,1
4,2003,11,1208,71.0,1400,77.0,0,24.0,62.0,6.0,...,13.0,17.0,22.0,12.0,14.0,4.0,4.0,20.0,6.0,1